
.credit-card {
    /*display: grid;*/
    /*grid-template-columns: 1fr; */
    /*position: relative; */
}

#front {
    /*background-color: #ddd; */
    /*padding: 1em;*/
    /**/

    display: grid;
    grid-template-columns: .5fr .5fr; 

    width: 30%;
    background: gray;
    padding: 2rem;
}

/*#back {*/
/*    background-color: #ddd; */
/*    position: absolute;*/
/*    top: 100%; */
/*    right: 1cm; */
/*    padding: 1em;*/
/*}*/

/* ***************************** *\
*   Front Card
\* ***************************** */
.input-pair {
    display: flex;
    flex-direction: column;
}

#card-ex-div {
    display: flex;
}

#card-ex {
    grid-column: 2;  
    grid-row: 3;
}


#card-num {
    grid-column: 1/4;
}

#card-holder {
    grid-column: 1;  
    grid-row: 3;
}

/* all the input box styling start-{*/
#card-num-text {
    width: 340px;
}

#card-holder-text {
    width: 150px;
}

.card-ex-text {
    /*this serves the same as the #card-*-text*/
    width: 50px;
    margin-right: 2rem;
}

#card-csv-text {
    width: 40px;
}

#front img {
    grid-column: 2/2;
}
/* }-end */


/* ***************************** *\
*   Back Card
\* ***************************** */
