
.credit-card {
    /*display: grid;*/
    /*grid-template-columns: 1fr; */
    /*position: relative; */
}

#front {
    margin: 1rem;

    display: grid;
    grid-template-columns: .5fr .5fr; 

    width: 400px;
    height: 200px;
    background: gray;
    border-radius: 1rem;
    padding: 2rem;
}

#back {
    display: grid;
    grid-template-columns: .5fr .5fr; 

    width: 400px;
    height: 200px;
    background: gray;
    border-radius: 1rem;
    padding: 2rem;
}

/* ***************************** *\
*   Front Card
\* ***************************** */
.input-pair {
    display: flex;
    flex-direction: column;
}

#card-ex-div {
    display: flex;
}

#card-ex {
    grid-column: 2;  
    grid-row: 3;
}


#card-num {
    grid-column: 1/4;
}

#card-holder {
    grid-column: 1;  
    grid-row: 3;
}

/* all the input box styling start-{*/
#card-num-text {
    width: 340px;
}

#card-holder-text {
    width: 150px;
}

.card-ex-text {
    /*this serves the same as the #card-*-text*/
    width: 50px;
    margin-right: 2rem;
}

#card-csv-text {
    width: 40px;
}

#front img {
    grid-column: 2/2;
}
/* }-end */


/* ***************************** *\
*   Back Card
\* ***************************** */
