
.credit-card {
  display: grid;
  grid-template-columns: 1fr; 
  position: relative; 
}

#front {
  background-color: #ddd; 
  padding: 1em;
}

#back {
  background-color: #ddd; 
  position: absolute;
  top: 100%; 
  right: 1cm; 
  padding: 1em;
  transform: translateY(-100%); 
  transition: transform 0.2s ease-in-out; 
}

.credit-card:hover #back {
  transform: translateY(0); 
}

