
@import url('https://fonts.googleapis.com/css2?family=Playwrite+PL:wght@100..400&display=swap');

body {
    max-width: 1200px;
    margin: auto;
}

#page-logo {
    width: 50px;
    height: 50px;
}


/* ===================================== 
*   header
* =================================== */
header {
    width: 88%;
    margin: auto;
}

#title-link {
    color: black;
    text-decoration: none;
    font-family: "Playwrite PL", cursive;
}

#search {
    position: relative;
    width: 90%;
    margin:auto;
}

#searchBar {
    height: 22px;
    width: 100%;
    margin:auto;
    margin-right: 0;
    z-index: -1;
}

#searchButton {
    position: absolute;
    top: 50%;

    transform: translateY(-50%);
    right: 10px;
    height: 20px;

    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    padding: 0;
    cursor: pointer;
    z-index: 1;
}

#searchImg {
    width: 18px;
    height: 22px;
    margin:auto;
    margin-left: 0;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* ===================================== 
*   recipe-card
* =================================== */

.recipe-card {
    width: 80%;
    padding: 1rem;
    margin: auto;
    border: black solid 1px;
}

.recipe-img-div {
    width: 50%;
    margin: auto;
}

.recipe-img {
    width: 100%;

}

.recipe-name {
    font-family: "Playwrite PL", cursive;
}

.desc {
    display: none;
}

.tag {
    display: inline-block;
    padding: 2px 5px;
    border: 1px solid black;
    border-radius: 3px;
}


/* ===================================== 
*   Footer
* =================================== */
footer{
    width: 80%;
    margin: auto;
    margin-top: 1rem;
    text-align: center;
}

#icons-src {
    font-size:  0.6em;
}

.social-icon {
    width: 30px;
    height: 30px;
}


/* ===================================== 
*   media
* =================================== */
@media screen and (min-width: 700px) {
    /* ===================================== 
    *   recipe-card
    * =================================== */
    .recipe-card {
        display: flex;
    }

    .recipe-details {
        margin-left: 1rem;
        max-width: 60%;
    }

    .recipe-tags p {
        margin-top: 0;
    }
        
    .desc {
        display: block;
    }

    .recipe-img-div {
        width: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    .recipe-img {
        max-width: 100%; 
        height: auto;
    }

    /* ===================================== 
    *   Footer
    * =================================== */
    footer {
        display: flex;
        justify-content: space-between;
    }

}

