
body {
    width: 60%;
    padding-top: 10%;
    padding-left: 20%;
    font-size: 1.15rem;
}

#italics {
    font-style: italic;
}

h1 {
    text-align: center;
    font-size: 3rem;
    margin: 2%;
}

h2 {
    text-align: center;
    color: lightblue;
    font-size: 1.15rem;
}

li {
    padding-bottom: 2%;
}

img {
    width: 200px;
    height: 120px;
    margin-left: 30%;
    margin-top: 5%;
 }
