
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Quintessential&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    --primary-color: #222;
    --secondary-color: #ffc107;
    --text-color: white;
}

body {
    font-family: "Quintessential", serif;

    color: var(--text-color);
    background: var(--primary-color);
    max-width: 2000px;
    margin: auto;
}

header h1 {
    text-align: center;
    font-size: 3.5rem;
}

a {
    color: yellow;
}

a:visited {
    color: green;
}

a:hover {
    color: green;

}

/* ========================== *\
*             Grid
\* ========================== */

main {
    display: grid;
    grid-template-columns: auto 0.5fr;
    grid-gap: 10px;
    padding-top: 1rem;
}

#filter-div {
    border: 1px solid var(--text-color);
    padding: 10px;
    margin: 0.25rem;
}

#content-sec {
    grid-row: 1;
    border: 1px solid var(--text-color);
    padding: 10px;
    margin: 0.25rem;
}

/* ========================== *\
*             Nav
\* ========================== */

nav {
    list-style: none;
    margin-bottom: .5rem;
    max-width: 99%;
    margin: auto;

    border: 2px solid var(--text-color);
    border-right: none;
    border-left: none;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    text-align: center;

    color: var(--text-color);
    list-style: none;
    padding: 0;

    width: 100%;
    margin: auto;
}

nav li {
    float: left;
    justify-content: space-between;
    margin: 1rem;
}

nav a {
    text-align: center;
    text-decoration: none;
    color: inherit;
}

nav a:visited {
    color: var(--text-color);
}

nav a:hover {
    color: var(--primary-color);
    background: var(--text-color);
    padding: 20%;
}

/* ========================== *\
*           filter-div
\* ========================== */

#filter-div {
    display: flex;
    flex-direction: column;
}

.filter-catagory {
    display: flex;
    flex-direction: row;
    margin: 1rem;
}

#filter-div p {
    margin: auto;
    padding: 0;
}

#filter-div select {
    height: 2rem;
    margin: auto;
    width: 5rem;
}

/* ========================== *\
*         book-card
\* ========================== */

.book-card {
    display: flex;
    flex-direction: row-reverse;
}

.book-card img {
    width: auto;
    height: 80%;
    max-height: 65vh;
    margin: auto;
}

.book-div {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 60%;
}

.date-div {
    width: 20%;
    text-align: right;
    padding: 2rem;
    margin: 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;

    border: 2px solid var(--text-color);
    border-top: none;
    border-bottom: none;
    border-left: none;
}

.book-div h1 {
    color: var(--secondary-color);
    font-size: 2rem;
}

@media screen and (max-width: 900px) {
    .book-card {
        flex-direction: column;
    }

    .date-div {
        display: flex;
        flex-direction: row;
        padding: 0;
        text-align: left;
        border-right: none;
        border-bottom: 2px solid var(--text-color);
    }

    .date-div p {
        margin-right: 1rem;
    }
}

@media screen and (max-width: 700px) {
    main {
        display: block;
    }

    .date-div {
        display: block;
    }
}



