
@import url("./main.css");

/* ===================================== 
*  Gallery Item 
* =================================== */

#gallery-div {
    /* grid things*/
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
}

.item-card {
    width: 80%;
    min-height: 80%;
    padding: 1rem;
    margin: auto;
    border: solid 1px;
}

.item-img-div {
    width: 50%;
    margin: auto;
}

.item-img {
    width: 100%;
}

.desc {
    display: none;
}

.tag {
    /* TODO  in progress*/
    /*color: var();*/
    /*background: var(--primary-color);*/

    display: inline-block;
    padding: 2px 5px;
    margin-right: .5rem;
    margin-bottom: .5rem;
    border: 1px solid;
    border-radius: 3px;
}

/* ===================================== 
*   media
* =================================== */
@media screen and (min-width: 800px) {
    /* ===================================== 
    *   recipe-card
    * =================================== */
    .item-card {
        display: flex;
    }

    .item-details {
        margin-left: 1rem;
        max-width: 60%;
    }

    .item-tags p {
        margin-top: 0;
    }
        
    .desc {
        display: block;
    }

    .item-img-div {
        width: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    .item-img {
        max-width: 100%; 
        height: auto;
    }

    #gallery-div {
        grid-template-columns: repeat(2, 1fr);
    }
}

