
/* ============================================== *\
||                  Nav
\* ============================================== */

nav {
  background-color: var(--nav-background-color);
  line-height: 3em;
  text-align: center;
  font-size: 1.2em;
}

nav {
  list-style-type: none;
  display: flex;
}

nav a {
  padding: 1em;
  min-width: 120px;
  text-decoration: none;
  padding: 10px;
}

nav a:link,
nav a:visited {
  color: var(--nav-link-color);
}

nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}


/* ============================================== *\
||                  footer
\* ============================================== */

footer {
    margin: 3rem;
    margin-top: 4rem;
}

#footer-flex {
    display: flex;
    justify-content: space-evenly;
}

#footer-hr {
    color: var(--text);
    font-weight: normal;
    width: 100%;
}

.social-logo {
    width:  40px;
    height: 40px;
    margin-left: .5rem;
    margin-right: .5rem;
    margin-top: 1rem;
}


