
/* ============================================== *\
||                  Nav
\* ============================================== */

nav {
  background-color: var(--nav-background-color);
  line-height: 3em;
  text-align: center;
  font-size: 1.2em;
}

nav {
  list-style-type: none;
  display: flex;
}

nav a {
  padding: 1em;
  min-width: 120px;
  text-decoration: none;
  padding: 10px;
}

nav a:link,
nav a:visited {
  color: var(--nav-link-color);
}

nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}

/* ============================================== *\
||                  Gallery Search - Nav
\* ============================================== */

#search {
    position: relative;
    width: 30%;
}

#searchBar {
    height: 30px;
    width: 100%;
    margin: auto;
    margin-top: 38px;
    margin-right: 0;
    z-index: -1;
    color: var(--nav-link-color);
    background: var(--nav-background-color);
    border-color: var(--nav-link-color);
}

#searchBar::placeholder {
    color: var(--nav-link-color);
}

#searchButton {
    position: absolute;
    top: 50%;

    transform: translateY(-50%);
    right: 10px;
    height: 20px;

    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    padding: 0;
    cursor: pointer;
    z-index: 1;
}

#searchImg {
    width: 18px;
    height: 22px;
    margin:auto;
    margin-left: 0;
}

/* ============================================== *\
||                  footer
\* ============================================== */

footer {
    margin: 3rem;
    margin-top: 4rem;
}

#footer-flex {
    display: flex;
    justify-content: space-evenly;
}

#footer-hr {
    color: var(--text);
    font-weight: normal;
    width: 100%;
}

.social-logo {
    width:  40px;
    height: 40px;
    margin-left: .5rem;
    margin-right: .5rem;
    margin-top: 1rem;
}


