
#hero-div {
    margin: 0 auto;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero-img {
    margin-top: 1rem;
    width: 20%;
    border-radius: 40px;
}

#about-me {
    width: 40%;
    padding-right: 2rem;
    align-items: center;
}

.social-logo {
    width:  40px;
    height: 40px;
    margin-left: .5rem;
    margin-right: .5rem;
    margin-top: 1rem;
}
