
@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    --primary-color: #f5c2e7;
    --secondary-color: #f2cdcd;
    --accent1-color: #f5e0dc;
    --background: #1e1e2e;

    --link-text: #a6e3a1;
    --text: #cdd6f4;

    --heading-font: playfair;
    --paragraph-font: Changa, Helvetica, sans-serif;

    --headline-color-on-white: var( --primary-color );
    --headline-color-on-color: var(--accent2-color);

    --paragraph-color-on-white: var( --primary-color );
    --paragraph-color-on-color: var(--accent2-color);
    --paragraph-background-color: var(--primary-color);

    --nav-link-color: var(--primary-color);
    --nav-background-color: var(--accent2-color);
    --nav-hover-link-color: var(--background);
    --nav-hover-background-color: var(--primary-color);
}

body {
    background: var(--background);
    color: var(--text);
}
